@use '../variables'

.main-section
  width: 100%
  height: auto
  display: flex
  justify-content: center
  padding: 20px
  overflow: hidden
  
.section-left
  height: 710px
  display: flex
  position: fixed
  left: 20px
  flex-direction: column
  justify-content: space-between
  
  .logo
    position: relative
    width: 260px
    height: 30px

  .description
    width: 320px
    font-size: 18px
    font-weight: bold
    line-height: 25px

    .span-copyright
      display: flex
      gap: 5px
      font-size: 12px
      font-weight: normal

      .published
        text-decoration: underline
        color: #000
        &:hover, &:focus, &:active
          text-decoration: none
          cursor: pointer

    .main-privacy
      font-size: 16px
      text-decoration: underline
      &:hover, &:focus, &:active
        text-decoration: none
        cursor: pointer

.section-central
  height: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


  .scroll-section
    text-align: center

    .container-scroll
      height: 100vh

  .main-img
    width: 420px
    padding-top: 30px

  .footer-title
    font-size: 18px
    font-weight: bold
    line-height: 25px

  .link-issue6
    font-size: 15px
    color: variables.$pink
    text-decoration: none
    font-weight: bold
    line-height: 40px
    &:hover, &:focus, &:active
      text-decoration: underline
      cursor: pointer

.section-right
  height: 710px
  position: fixed
  right: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  

  .contact
    text-align: end

  .link
    text-decoration: none
    color: #000
    font-size: 18px
    font-weight: bold

  .menu
    position: absolute
    right: 0
    bottom: 0
    width: 200px
    list-style: none
    text-align: right
    z-index: 3
    list-style: none
    font-size: 18px
    line-height: 1.6  

    .menu-link
      text-decoration: none
      color: #000
      &:hover, &:focus, &:active
        text-decoration: underline
        cursor: pointer

// Animate 

[data-anime] 
  

[data-anime="six"]
  transform: translate3d(0px,0px,0px)
  transition: all 700ms ease 0s

[data-anime="five"]
  transform: translate3d(0,757px,0)
  transition: all 700ms ease 0s

[data-anime="four"]
  transform: translate3d(0,1514px,0)
  transition: all 700ms ease 0s

[data-anime="three"]
  transform: translate3d(0,2271px,0)
  transition: all 700ms ease 0s

[data-anime="two"]
  transform: translate3d(0,3028px,0)
  transition: all 700ms ease 0s

[data-anime="one"]
  transform: translate3d(0,3785px,0)
  transition: all 700ms ease 0s

[data-anime].animate
  transform: translate3d(0px,0px,0px)